- content_for(:page_header) do
  %h1= tplural Article
  %p= link_to "Добавить #{taccusative('article')}", [:new, :admin, :article]

- unless @articles.empty?
  %table.list
    %colgroup
      %col
      %col.w1
    %thead
      %tr
        %th= Article.human_attribute_name('title')
        %th
    - @articles.each do |article|
      %tr
        %td= link_to article.title, [:edit, :admin, article]
        %td= link_to 'Удалить', [:admin, article], method: :delete, data: { confirm: 'Точно Удалить?' }, class: :del

