%li.sort-tree__item(data-sort-tree-item){id: "list_#{article_category.id}"}
  .sort-tree__wrap(data-sort-tree-tolerance)
    = link_to article_category.title, [:edit, :admin, article_category], class: 'sort-tree__link'
    - if article_category.is_childless?
      = surround '(', ')' do
        = link_to 'На сайт', '/', target: '_blank'
    .sort-tree__controls
      = link_to 'Удал', [:admin, article_category], class: 'a_del sort-tree__btn', data: {confirm: 'Точно удалить?'}, method: 'delete'
  - if article_category.has_children?
    %ol= render article_category.children.order(:position)
