- content_for :page_header do
  %h1
    - if @article_category.new_record?
      Добавить #{taccusative(:article_category)}
    - else
      Редактировать #{taccusative(:article_category)}
  %p= link_to 'Назад', [:admin, :article_categories]

= redde_form_for [:admin, @article_category] do |f|
  = f.redde_field :visible
  = f.fieldset 'Характеристики', class: 'margin-top' do
    = f.redde_field :title
    = f.redde_text_area :title
