- content_for(:page_header) do
  %h1= tplural ArticleCategory
  %p= link_to "Добавить #{taccusative('article_category')}", [:new, :admin, :article_category]

- unless @article_categories.empty?
  %table.list.sortable{ 'data-sortable' => true }
    %colgroup
      %col.w1
      %col.w1
      %col
      %col.w1
    %thead
      %tr
        %th
        %th
        %th= ArticleCategory.human_attribute_name('title')
        %th
    - @article_categories.each do |article_category|
      %tr{ id: "pos_#{article_category.id}" }
        %td.handle= image_tag 'admin/move_handler.png'
        %td.show= link_to '', admin_article_category_path(article_category, article_category: { visible: !article_category.visible} ), class: article_category.visible ? nil : 'not-show', data: { method: 'put' }
        %td= link_to article_category.title, [:edit, :admin, article_category]
        %td= link_to 'Удалить', [:admin, article_category], method: :delete, data: { confirm: 'Точно Удалить?' }, class: :del
