- content_for :page_header do
  %h1
    - if @<%= resource_name %>.new_record?
      Добавить <%= resource_name %>
    - else
      Редактировать <%= resource_name %>

= form_for [:admin, @<%= resource_name %>] do |f|
  - if @<%= resource_name %>.errors.any?
    #error_explanation
      %h2=# "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @<%= resource_name %>.errors.full_messages.each do |msg|
          %li= msg
  %table
  <%- columns.each do |column| -%>
    %tr
      %th= f.label :<%= column.name %>
      %td= f.text_field ::<%= column.name %>
  <% end %>
  
  .actions
    = f.submit "Сохранить"
    = f.submit "Применить"