- content_for(:page_header) do
  %h1= tplural Manager
  %p= link_to "Добавить #{taccusative('manager')}", [:new, :admin, :manager]

- unless @managers.empty?
  %table.list
    %colgroup
      %col
      %col.w1
    %thead
      %tr
        %th= Manager.human_attribute_name('email')
        %th
    - @managers.each do |manager|
      %tr
        %td= link_to manager.email, [:edit, :admin, manager]
        %td= link_to 'Удалить', [:admin, manager], method: :delete, data: { confirm: 'Точно Удалить?' }, class: :del
