= page_header do
  .page-header__title Системные команды

%h2 Сброс кэша
%p
  Иногда, при обновлении данных в административной панели, данные на сайте не меняются. Скорее всего, это происходит из-за кеширования. Кеширование - процесс сохранения дорогих операция для исключения их повторного выполнения. Сбро кэша это безопасная операция. Доступность сайта никак не будет затронута. Следующий запрос к сайту может выполняться немного дольше, чем обычно.
  = command_link('Сбросить кэш', :cache, 'Вы уверены, что хотите сбросить кэш?')
%br

%h2 Перезапуск веб-сервера
%p
  Иногда, при выкатке новой версии сайта, веб-сервер не перезапускается. Вы можете сделать это самостоятельно. Перезапуск веб-сервера это безопасная операция. Во время перезагрузки веб-сервера ваш сайт будет доступен.
  = command_link 'Перезапустить веб-сервер', :unicorn, 'Вы уверены, что хотите перезапустить веб-сервер?'
%br

%h2 Перезпуск обработчика фоновых задач
%p
  Обработчик фоновых задач занимается отправкой емейлов и прочими задачами, которые можно отложить в фон. Если у вас перестали отправляться емейлы, попробуйте перезапустить обработчик фоновых задач
  = command_link 'Перезапустить обработчик фоновых задач', :sidekiq, 'Вы уверены, что хотите перезапустить обработчик фоновых задач?'
%br

%h2 Перезапуск сервера
%p
  В крайнем случае может пригодиться перезагрузка сервера. Перезагрузка может занять длительное время (до 30 минут) в случае выполнения проверки целоствности жесткого диска. Во время проверки диска ваш сайт будет недоступен.
  = command_link 'Перезапустить сервер', :reboot, 'Вы уверены, что хотите перезагрузить сервер?'
