-# add this condition to remove empty sidebar
-# if @active
%nav.sidebar
  - case @active
  - when :shop
    = link_to 'Товары', admin_products_path, class: 'sidebar__link'
  - when :materials
    = link_to 'Статьи', [:admin, :articles], class: 'sidebar__link'
  - when :system
    = link_to 'Пользователи', admin_users_path, class: 'sidebar__link'
  - else
    = link_to 'Демо active', nil, class: ['sidebar__link', '_active']
    = link_to nil, class: ['sidebar__link'] do
      Демо
      %span.sidebar__badge 2