%nav.sidebar
  - case @active
  - when :shop
    = sidebar_link'Товары', [:admin, :products]
  - when :materials
    = sidebar_link 'Статьи', [:admin, :articles]
  - when :system
    = sidebar_link 'Администраторы', [:admin, :managers]
  - else
    = sidebar_link 'Демо active', [:admin, :articles]
    = link_to nil, class: ['sidebar__link'] do
      Демо
      %span.sidebar__badge 2
