%li.sort-tree__item(data-sort-tree-item){id: "list_#{item.id}"}
  .sort-tree__wrap(data-sort-tree-tolerance)
    = link_to title_for(item), [:edit, :admin, item], class: 'sort-tree__link'
    - if item.is_childless?
      = surround '(', ')' do
        = link_to 'На сайт', '/', target: '_blank'
    .sort-tree__controls
      = link_to 'Удал', [:admin, item], class: 'a_del sort-tree__btn', data: { confirm: 'Точно удалить?' }, method: 'delete'
  - if item.has_children?
    %ol= render partial: 'tree_item', collection: item.children.order(:position), as: :item
