%header.ra-layout__header.header
  .header__init
    = link_to admin_root_path || '/admin', class: 'header__logo' do
      ReddeCMS
      %span.header__logo-text custom system
    = render 'admin/redde/main_menu'
    .header__links
      = link_to Rails.application.class.parent_name, root_path || '/', target: :_blank, class: 'header__link _name'
      - if current_manager
        = mail_to current_manager.email, current_manager.email, class: 'header__link _user'
        = link_to 'Выход', destroy_manager_session_path, method: :delete, class: 'header__link _exit'
