!!!
%html.ra-login{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8'}
    %title Вход на сайт | Административная панель
    = stylesheet_link_tag 'admin'
    = javascript_include_tag "admin"
    = csrf_meta_tag
  %body.ra-login__body
    %table.ra-login__table
      %tr
        %td.ra-login__cell
          .ra-login__main.main
            .page-header
              .page-header__title Административная панель
            .main__content
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .ra-login__field
                  = f.label :email, 'E-mail', class: 'ra-login__label'
                  %br
                  = f.email_field :email, class: 'inp ra-login__inp'
                .ra-login__field
                  = f.label :password, 'Пароль', class: 'ra-login__label'
                  %br
                  = f.password_field :password, size: 35, class: 'inp ra-login__inp'
                - if devise_mapping.rememberable?
                  .ra-login__field
                    = f.check_box :remember_me
                    = f.label :remember_me, 'Оставаться в системе', class: 'ra-login__label'
                .ra-login__actions
                  = f.submit 'Войти', class: 'sbm'
