!!!
%html.ra-layout{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8'}
    %title= @page_title || 'ReddeCMS'
    = favicon_link_tag 'redde/favicon.png'
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = yield :js
    = csrf_meta_tag
  %body.ra-layout__body
    = render 'admin/redde/header'
    .ra-layout__wrapper
      = render 'admin/redde/sidebar'
      .ra-layout__main.main
        = yield(:page_header)
        = redde_flash
        - if yield(:page_sidebar).present?
          .main__sidebar.page-sidebar= yield(:page_sidebar)
        .main__content= yield
